body{
font-family: Arial;
background:#f4f4f4;
text-align:center;
}

.job{
background:white;
margin:20px auto;
padding:15px;
width:300px;
box-shadow:0px 0px 5px gray;
}

button{
background:#007BFF;
color:white;
padding:10px;
border:none;
border-radius:5px;
}
